@font-face { font-family: Parchment; src: url('../fonts/ParchmentMF.ttf'); } 

h1, h2, h3, h4, h5, h6 {
    font-family: Parchment;
    color:crimson;
}

h1 {
font-size: 56px;
}

h2 {
font-size: 44px;
}

h3 {
    font-size: 32px;
}
h4 {
    font-size: 28px;
}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 20px;
}

body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {

}

.header-inner {
display: flex;
justify-content: center;
margin-top: 20px;
}

.text-center {
    text-align: center;
}

.threeCol {
 display: flex;
 justify-content: center;
}

.article {
    flex-basis: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.article img {
    max-width: 400px;
    height: auto;
}

img.card {
    width: 300px;
    height: auto;
}

img.bigimg {
    max-width: 800px;
    height: auto; 
}

@keyframes rotateInfinite {
    from {
      transform: rotateZ(0deg);
    }
  
    to {
        transform: rotateZ(360deg);
    }
  }

.manaWheel {
    width: 100px;
    height: 100px;
    rotate: 360deg;
    animation: 5s infinite linear rotateInfinite;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.manaWheel > div {
width: 30px;
height: 30px;
border-radius: 50%;
position: absolute;
border: 2px solid black;
}

.manaWheel > div:before {
    /* highlight */
content: '';
position: absolute;
z-index: 1;
}

.manaWheel > div:after {
    /* shadow */
content: '';
position: absolute;
z-index: 1;
}

/* .manaWheel .white {
background-color: #ebcd6b;
top: calc(5% - 17px);
left: calc(50% - 17px);
}
.manaWheel .blue {
    background-color: #2cadb9;
    top: calc(40% - 17px);
    left: calc(98% - 17px);
}
.manaWheel .black {
    background-color: #605635;
    left: calc(79% - 17px);
    top:calc(96% - 17px);
}
.manaWheel .red {
    background-color: #d95413;
    left: calc(21% - 17px);
    top:calc(96% - 17px);
}
.manaWheel .green {
    background-color: #7c9a02;
    left: calc(2% - 17px);
    top:calc(40% - 17px);
} */

.manaWheel .white {
    background-color: #ebcd6b;
    top: calc(5% - 17px);
    left: calc(50% - 17px);
    }
    .manaWheel .blue {
        background-color: #2cadb9;
        top: calc(40% - 17px);
        left: calc(98% - 17px);
    }
    .manaWheel .black {
        background-color: #605635;
        left: calc(79% - 17px);
        top:calc(96% - 17px);
    }
    .manaWheel .red {
        background-color: #d95413;
        left: calc(21% - 17px);
        top:calc(96% - 17px);
    }
    .manaWheel .green {
        background-color: #7c9a02;
        left: calc(2% - 17px);
        top:calc(40% - 17px);
    }

@media screen and (max-width: 4768px) {
    .threeCol {
flex-wrap: wrap;
    }
    .threeCol .article {
        flex-basis: 100%;
    }
  }